@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Login";
    Layout = null; // Not using the layout
}

<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <!-- use css -->
    <link rel="stylesheet" href="~/css/login-styles.css">
</head>
<body>
    <div class="login-container">
        <h1>Login</h1>
        <form asp-controller="Login" asp-action="Login" method="post">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
