@model List<Trail>

<!DOCTYPE html>
<html>
<head>
    <title>User Trail</title>
    <link rel="stylesheet" href="~/css/user-activity-styles.css">
</head>
<body>
    <div class="activity-container">
        <h1>My Trail</h1>
        <div class="activity-list">
            @foreach (var trail in Model)
            {
                <div class="activity-item">
                    <h3>@trail.TrailName</h3>
                    <p>@trail.TrailDescription</p>
                    <p>Date: @trail.TrailStartDate?.ToString("yyyy-MM-dd")"</p>
                </div>
            }
        </div>
    </div>
</body>
</html>
